<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menu</title>

	<!-- FonteAwesome -->
	<script src="js/fontawesomepro.js"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">

	<!-- css personalizado da pagina -->
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<div class="menu-container" >

		<header > SMART House
			
			<div class="icon-house">
				<a href="home.html">
					<i class="fad fa-house-signal"></i>
				</a>
			</div>

			<div class="dropdown">
				<i class="fad fa-user-circle"></i>
				<div class="dropdown-content">
					<a href="account.html"> 
						<span class="account"> Entrar </span>
					</a>
					<a href="logout.html">
						<span class="logout"> Sair </span>
					</a>
					<a href="register.html">
						<span class="register"> Cadastrar </span>
					</a>
				</div>
			</div>

		</header>

		<input type="checkbox" id="menu">
		<label for="menu" class="menu-bar">
			<i class="far fa-bars"></i>
		</label>

		<aside>
			<ul>
				<li>
					<a href="home.html">
						<span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
						<span class="title"> Home </span>
					</a>
				</li>
				<li class="last">
					<a href="cam.html">
						<span class="icon"><i class="fas fa-cctv"></i></i></span>
						<span class="title"> Cameras </span>
					</a>
				</li>
				<li class="last">
					<a href="climate.html">
						<span class="icon"><i class="far fa-thermometer-three-quarters"></i></span>
						<span class="title"> Clima </span>
					</a>
				</li>
				<li class="last">
					<a href="energy.html">
						<span class="icon"><i class="fad fa-plug"></i></span>
						<span class="title"> Energia </span>
					</a>
				</li>
			</ul>
		</aside>
		
		<main>
			<div class="cam">
				<div class="cam-int">  
					<div>
						<span><i class="icon-low fas fa-cctv"></i></span>
						<h6 class="text-test">Interior-Sala</h6>
					</div>
					<div class="div-int">
						<div class="embed-responsive embed-responsive-16by9">
							<video class="embed-responsive-item" src="videos/street.mp4" autoplay loop></video>
						</div>
					</div>

					<ul>
						<li>
							<h5 class="text-test">Liga/Desl.</h5>
							<div>
								<input type="checkbox" id="switch-cam-int" class="checkbox-button-on-off" /> 
								<label for="switch-cam-int" class="toggle-button-on-off">
									<p>ON</p> 
									<p>OFF</p>
								</label>
							</div>
						</li>
						<li>
							<h5 class="text-test">Conexão</h5>
							<div id="cam-int-status"></div>
						</li>
						<li>
							<h5 class="text-test">Gravaçao</h5>
							<div>
								<input type="checkbox" id="switch-cam-int-start-stop" class="checkbox-button-start-stop" /> 
								<label for="switch-cam-int-start-stop" class="toggle-button-start-stop">
									<p>START</p> 
									<p>STOP</p>
								</label>
							</div>
						</li>
					</ul>
				</div>

				<div class="cam-front">  
					<div>
						<span><i class="icon-low fas fa-cctv"></i></span>
						<h6 class="text-test">Exterior-Frente</h6>
					</div>
					<div class="div-front">
						<div class="embed-responsive embed-responsive-16by9">
							<video class="embed-responsive-item" src="videos/room.mp4" autoplay loop></video>
						</div>
					</div>

					<ul>
						<li>
							<h5 class="text-test">Liga/Desl.</h5>
							<div>
								<input type="checkbox" id="switch-cam-front" class="checkbox-button-on-off" /> 
								<label for="switch-cam-front" class="toggle-button-on-off">
									<p>ON</p> 
									<p>OFF</p>
								</label>
							</div>
						</li>
						<li>
							<h5 class="text-test">Conexão</h5>
							<div id="cam-front-status"></div>
						</li>
						<li>
							<h5 class="text-test">Gravaçao</h5>
							<div>
								<input type="checkbox" id="switch-cam-front-start-stop" class="checkbox-button-start-stop" /> 
								<label for="switch-cam-front-start-stop" class="toggle-button-start-stop">
									<p>START</p> 
									<p>STOP</p>
								</label>
							</div>
						</li>
					</ul>
				</div>

				<div class="cam-back">  
					<div>
						<span><i class="icon-low fas fa-cctv"></i></span>
						<h6 class="text-test">Exterior-Fundos</h6>
					</div>
					<div class="div-back">
						<div class="embed-responsive embed-responsive-16by9">
							<video class="embed-responsive-item" src="videos/street.mp4" autoplay loop></video>
						</div>
					</div>

					<ul>
						<li>
							<h5 class="text-test">Liga/Desl.</h5>
							<div>
								<input type="checkbox" id="switch-cam-back" class="checkbox-button-on-off" /> 
								<label for="switch-cam-back" class="toggle-button-on-off">
									<p>ON</p> 
									<p>OFF</p>
								</label>
							</div>
						</li>
						<li>
							<h5 class="text-test">Conexão</h5>
							<div id="cam-back-status"></div>
						</li>
						<li>
							<h5 class="text-test">Gravaçao</h5>
							<div>
								<input type="checkbox" id="switch-cam-back-start-stop" class="checkbox-button-start-stop" /> 
								<label for="switch-cam-back-start-stop" class="toggle-button-start-stop">
									<p>START</p> 
									<p>STOP</p>
								</label>
							</div>
						</li>
					</ul>
				</div>

				<div class="cam-side">  
					<div>
						<span><i class="icon-low fas fa-cctv"></i></span>
						<h6 class="text-test">Exterior-Lateral</h6>
					</div>
					<div class="div-side">
						<div class="embed-responsive embed-responsive-16by9">
							<video class="embed-responsive-item" src="videos/room.mp4" autoplay loop></video>
						</div>
					</div>

					<ul>
						<li>
							<h5 class="text-test">Liga/Desl.</h5>
							<div>
								<input type="checkbox" id="switch-cam-side" class="checkbox-button-on-off" /> 
								<label for="switch-cam-side" class="toggle-button-on-off">
									<p>ON</p> 
									<p>OFF</p>
								</label>
							</div>
						</li>
						<li>
							<h5 class="text-test">Conexão</h5>
							<div id="cam-side-status"></div>
						</li>
						<li>
							<h5 class="text-test">Gravaçao</h5>
							<div>
								<input type="checkbox" id="switch-cam-side-start-stop" class="checkbox-button-start-stop" /> 
								<label for="switch-cam-side-start-stop" class="toggle-button-start-stop">
									<p>START</p> 
									<p>STOP</p>
								</label>
							</div>
						</li>
					</ul>
				</div>

				<div class="cam-garage">  
					<div>
						<span><i class="icon-low fas fa-cctv"></i></span>
						<h6 class="text-test">Exterior-Garage</h6>
					</div>
					<div class="div-garage">
						<div class="embed-responsive embed-responsive-16by9">
							<video class="embed-responsive-item" src="videos/street.mp4" autoplay loop></video>
						</div>
					</div>

					<ul>
						<li>
							<h5 class="text-test">Liga/Desl.</h5>
							<div>
								<input type="checkbox" id="switch-cam-garage-on-off" class="checkbox-button-on-off" /> 
								<label for="switch-cam-garage-on-off" class="toggle-button-on-off">
									<p>ON</p> 
									<p>OFF</p>
								</label>
							</div>
						</li>
						<li>
							<h5 class="text-test">Conexão</h5>
							<div id="cam-garage-status"></div>
						</li>
						<li>
							<h5 class="text-test">Gravaçao</h5>
							<div>
								<input type="checkbox" id="switch-cam-garage-start-stop" class="checkbox-button-start-stop" /> 
								<label for="switch-cam-garage-start-stop" class="toggle-button-start-stop">
									<p>START</p> 
									<p>STOP</p>
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</main>
	</div>
</body>
</html>
